<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Dapper" connectionString="Server=.;Database=Words;User Id=sa; Trusted_Connection=True; Password=orange5;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>